@import "../../../global.scss";

.contact{
    background-color: white;
    .sections{
        display: flex;
        justify-content: center;
        align-items: center;
        // overflow: hidden;

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 100%;
            width: 100%;
            
            // border: solid red;
    
            .left{
                display: flex;
                flex: 0.5;
                width: 100%;
                justify-content: center;
                align-items: center;
                
                // border: solid blue;
                img{
                    // object-fit: cover;
                    width: 100%;
                    height: 90%;
                }
            }
            
            .right{
                display: flex;
                flex: 0.5;
                align-items: center;
                justify-content: center;
                height: 90%;
                
                
                
                .outline{
                    display: flex;
                    width: 90%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    border: solid $maincolor 1px;
                    border-radius: 10px;
                    padding: 2%;
    
                    .wrapper{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        height: 100%;
                        width: 100%;
                        
    
                        h1{
                            color: $maincolor;
                        }
            
                        .fullname{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 90%;
                            
    
                            .text-basic{
                                width: 40%;
                            }
                        }
            
            
                        .text{
                            width: 90%;
                     
                        }
            
                        .button{
                            color: $maincolor;
                            border: solid $maincolor 1px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1400px){
    .contact{
        .sections{
            .container{
                .left{
                    display: none;
                }

                .right{
                    flex: 1;

                    .outline{
                        width: 80%;

                        .wrapper{

                        }
                    
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    .contact{
        // height: 100vh;
        .sections{
            .container{
                .left{
                    // display: none;
                }
    
                .right{
                    // flex: 1;
    
                    .outline{
                        width: 80%;
                        height: 600px;
    
                        .wrapper{
                            // height: 60%;
                        }
                    
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 767px){
    .contact{
        // height: calc(100vh - 70px);
        .sections{
            // height: 100vh;
            .container{
                .right{
                    padding-top: 20%;
                    .outline{
                        height: 90vh;

                        .wrapper{
                            // margin: 5%;
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (min-aspect-ratio: 7/4){
    .contact{
        .sections{
            height: 200vh;

            .container{
                .right{
                    // height: 400vh;

                    .outline{
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: #{$width-ipad}){

}