@import "../../../global.scss";


.features{
    background-color: white;
    // height: 125vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../../../pictures/collage2-mercury.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        height: 80%;
        width: 80%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 50px;

        .swiper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            }

            .swiper-pagination-bullet{
                background: white;
                opacity: .5;
            }

            .swiper-pagination-bullet-active{
                background-color: rgb(46, 72, 219);
                opacity: 1;
            }

            .swiper-button-next{
                color: rgb(46, 72, 219);
            }

            .swiper-button-prev{
                color: rgb(46, 72, 219);
            }

            .swiper-slide {
            text-align: center;
            font-size: 18px;
            // background: rgba(220,0,0,.1);
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }

            a{
                height: 28vw;       //Controls the height of the href pictures
                width: 33vw;        //Controls the width of the href pictures
            }

            .left{
                display: flex;
                flex: 0.5;
                height: 100%;
                justify-content: center;
                align-items: center;

                .video-container{
                    height: 28vw;       //Controls the height of the react-player video
                    width: 33vw;        //Controls the width of the react-player video
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    iframe{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                    }
                }
                
            }
            
            .right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex: 0.4;
                height: 28vw;
                
    
                h2{
                    padding-bottom: 10%;
                    color: white;
                    font-size: 3vw;
                    height: 10vw;
                }
    
                p{
                    height: 20vh;
                    width: 80%;
                    word-wrap: break-word;
                    padding: 5%;
                    border: solid white 2px;
                    border-radius: 50px;
                    color: white;
                    font-size: 1vw; 
                }
            }

            }
    
            .swiper {
            margin-left: auto;
            margin-right: auto;
            }
        }
        

        

}

@media screen and (max-width: 1400px){
    .features{
        .container{
            height: 65%;
            .swiper{
                .right{
                    p{
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: #{$width-ipad-pro}){
    .features{
        .container{
            height: 85%;
            width: 90%;

            .swiper{
                .left{
                    a{
                        height: 25vw;
                        width: 30vw;
                    }

                    .video-container{
                        height: 25vw;
                        width: 30vw;
                    }
                }

                .right{
                    height: 25vw;
                    h2{
                        height: 8vw;
                    }
                    p{
                        height: 18vh;
                    }
                }
            }
        }
    }
}

@media screen and (orientation: portrait){
    .features{
        .container{
            width: 90%;
            height: 85%;

            .swiper{
                height: 95%;
                .swiper-button-next{
                    display: none;
                }
                .swiper-button-prev{
                    display: none;
                }
                .swiper-slide{

                    flex-direction: column;
            
                        a{
                            // height: 63vw;
                            // width: 65vw;
                            height: 30vh;
                            width: 30vh;
                        }
            
                        .left{
                            align-items: center;
                            
                            .video-container{
                                height: 30vh;
                                width: 30vh;
                             }
                        }

                        .right{
                            flex: 0.5;
                            h2{
                                height: 5vh;
                                width: 90%;
                                font-size: 5vw;
                            }
                            p{
                                font-size: 1.4vh;
                                
                            }
                        }


                    }
                }
            }
        }
    }


