@import "../../../global.scss";


.features{
    background-color: white;
    // height: 125vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../../../pictures/collage2-mercury.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        height: 80%;
        width: 80%;
        display: flex;
        background-color: white;
        border-radius: 50px;

        .swiper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            }

            .swiper-slide {
            text-align: center;
            font-size: 18px;
            // background: rgba(220,0,0,.1);
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            }
    
            .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
    
            .swiper {
            margin-left: auto;
            margin-right: auto;
            }
        }
        

        .left{
            display: flex;
            flex: 0.5;
            border: solid black;
            height: 100%;
        }
        
        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 0.4;
            

            h2{
                padding-bottom: 10%;
                color: $maincolor;
                ;
            }

            p{
                // width: 30vw;
                height: 20vh;
                width: 80%;
                word-wrap: break-word;
                padding: 5%;
                border: solid black 1px;
                border-radius: 50px;
            }
        }

}

@media screen and (orientation: portrait){
    .swiper-slide{
        flex-direction: column;
    }

}

