.App{
    height: 100vh;
    width: 100vw;
    position: relative;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-behavior: smooth;    //Allows the scrolling to be smooth and not instantaneous when clicking href links
        // scroll-snap-type: y mandatory;  //This will make the webpage snap to closest "section" page
        overflow-x: hidden;
        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}

