@import "../../../global.scss";

.aboutus{
    background-color: $maincolor;
    display: flex;
    // flex-direction: row;
    justify-content: center;
    // border-bottom: solid $maincolor 5px;
    // border-top: solid $maincolor 5px;
    height: 90vh !important;
    width: 100vw;
    align-items: center;
    background-image: url("../../../pictures/collage2-mercury.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    .left{
        display: flex;
        flex: 0.4;
        position: relative;
        justify-content: center;
        height: 90%;
        margin: 1%;
        
        
        .bio{
            color: white;
            // margin: 40px;
            background-color: rgba(0,0,0,0.7);
            border-radius: 10%;
            height: 80%;
            padding: 5%;

            .header{
                
                // padding-top: 20vh;
                // padding-bottom: 2vh;
                
                height: 35vh;
                overflow: hidden;

                p{
                    font-size: 2vw;
                    font-weight: bold;
                }

                span{
                    padding-top: 5vh;
                    font-size: 4vw;
                    font-weight: bold;
                    display: flex;
                    // align-items: center;
                    // justify-content: center;
                }

            }

            p.summary{
                font-size: 1vw;
                width: 80%;
                word-wrap: break-word;
                line-height: 5vh;
            }
        }
    }
    
    .right{
        // display: flex;
        flex: 0.5;
        width: 50vw;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 90%;
        // background-color: aqua;
        
        .videoslider{
            height: 90%;
            // width: 500px;

            .swiper {
                width: 100%;
                height: 100%;
              }
              
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                // background: $maincolor;
              
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
              }
              
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              
            //   body {
            //     background: #000;
            //     color: #000;
            //   }
              
              .swiper {
                width: 100%;
                height: 300px;
                margin-left: auto;
                margin-right: auto;
              }
              
              .swiper-slide {
                background-size: cover;
                background-position: center;
              }
              
              .mySwiper2 {
                height: 80%;
                width: 90%;
              }
              
              .mySwiper {
                height: 20%;
                box-sizing: border-box;
                padding: 10px 0;
                background-color: black;
                border-radius: 20px;
              }
              
              .mySwiper .swiper-slide {
                width: 25%;
                height: 100%;
                opacity: 0.4;
              }
              
              .mySwiper .swiper-slide-thumb-active {
                opacity: 1;
              }
              
              .swiper-slide iframe{
                width: 80%;
                height: 100%;
                // border-radius: 10%;
                border: solid black;
                border-radius: 5%;
              }
        }
    }
    
}


@media screen and (max-width: 1400px){
    .aboutus{
        .left{
            .bio{
               .header{
                 padding-top: 5vh;
                 padding-bottom: 0;
                 height: 25vh;
               }

               p.summary{
                   font-size: 1.3vh;
               }
            }
        }
        .right{
           
        }
    }
}

@media screen and (max-width: #{$width-ipad-pro}){
    .aboutus{
        .left{
            .bio{
            }
        }
    }
}

@media screen and (max-width: 900px){
    .aboutus{
        .left{
            flex: .5;

            .bio{
                .welcome{
                    font-size: 2vw;
                    padding-top: 50px;
                }

                .header{
                    height: 25vh;
                    p{
                        font-size: 2vw; 
                    }
                }

                p{
                    font-size: 1vw;
                }
            }
        }
    }
}

@media screen and (orientation: portrait){
    .aboutus{
        display: flex;
        flex-direction: column;

        .left{
            flex: 0.6;
            overflow: hidden;
            align-items: center;
            .bio{
                width: 60%;
                padding: 7%;

                .header{
                    height: 11vh;

                    p{
                        font-size: 2vh;
                    }

                    span{
                        padding-top: 1vh;
                        font-size: 4vh;
                    }
                }
                p.summary{
                    line-height: 2vh;
                    font-size: 2vw;
                    padding-top: 2vh;
                }
            }
        }

        .right{
            width: 100vw;

            .swiper{
                .mySwiper{
                    border-radius: 0;
                }
            }
        }
    }
}